* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: #a3b9b9;
}

header {
  background-color: #627575;
}

header > h1 {
  padding: 10px;
  text-align: center;
  color: white;
}

#burguer {
  background-color: rgb(75, 82, 82);
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
}

#burguer:hover {
  background-color: rgb(170, 207, 207);
  color: black;
  cursor: pointer;
}

nav {
  display: none;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: darkslategray;
  color: white;
  border-top: 2px solid rgb(21, 37, 48);
}

nav > ul > li > a:hover {
  background-color: rgb(135, 169, 180);
}

main {
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

article > h2 {
  padding-bottom: 10px;
}

article > p {
  text-align: justify;
  margin-bottom: 20px;
  text-indent: 20px;
}
